<!DOCTYPE html>
<html>


<head><title>Space Quiz</title></head>
<body>
<h2> What would you do: Astronaut Edition</h2>
    <br>
    <h3>How would you react when confronted with the infinite blackness of space?</h3>
<form>
  
  <input type="radio" class="radio" name="answer" value="option1" > Scream for infinity<br>
  <input type="radio" class="radio" name="answer" value="option2"> Cry, and then calm down. Then cry again<br>
  <input type="radio" class="radio" name="answer" value="option3"> Beg to come down back to Earth<br>
  <input type="radio" class="radio" name="answer" value="option4"> Look at the bright side, it's such an amazing view <br>
  
</form> 

    <h3>If you got stranded on Mars, what would be your final transmission to Earth?</h3>
<form>
  
  <input type="radio" class="radio" name="answer" value="option1" > Angrily threaten to sue NASA for leaving you stranded on Mars<br>
  <input type="radio" class="radio" name="answer" value="option2"> Be heartfelt and give thanks to NASA for the opportunity to visit Mars<br>
  <input type="radio" class="radio" name="answer" value="option3"> Scream until you run out of oxygen<br>
  <input type="radio" class="radio" name="answer" value="option4"> Ask who won the game last night <br>
  
</form> 

    <h3>Your space suit is malfunctioning while you are on the moon and oxygen flow to your helmet begins to slow down. The technician on Earth says that you will have to wait 1 hour before the oxygen flow is back to normal. What do you do?</h3>
<form>
  
  <input type="radio" class="radio" name="answer" value="option1" > Take deep, slow breaths and remain calm <br>
  <input type="radio" class="radio" name="answer" value="option2"> Demand the technician to figure out a faster solution<br>
  <input type="radio" class="radio" name="answer" value="option3"> Scream <br>
  <input type="radio" class="radio" name="answer" value="option4"> Hope for the best and take a nap <br>
  
</form> 

    <h3>You can only choose one to have an unlimited supply of while on your mission in space that last 2 years. What will you choose?</h3>
<form>
  
  <input type="radio" class="radio" name="answer" value="option1" > Space Icecream <br>
  <input type="radio" class="radio" name="answer" value="option2"> No Rinse Shampoo<br>
  <input type="radio" class="radio" name="answer" value="option3"> Apple Music Subscription<br>
  <input type="radio" class="radio" name="answer" value="option4"> Coca-Cola <br>
  
</form> 

    <h3>You are confronted by 5 aliens while visiting Mars; What do you do?</h3>
<form>
  
  <input type="radio" class="radio" name="answer" value="option1" > RUN<br>
  <input type="radio" class="radio" name="answer" value="option2"> Ask where the best restaurant is for Mexican food<br>
  <input type="radio" class="radio" name="answer" value="option3"> Cry and beg them not to hurt you <br>
  <input type="radio" class="radio" name="answer" value="option4"> Play it cool and ask to join their clique <br>
  
</form> 
   
   <form method="post" action="/results">
       <input type="submit" class= "button" value="Submit" >
   </form>
   
   </body>
   </html>